/*google font style import
cabin for general
jura for title, logo, nav
*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jura:wght@300..700&display=swap');

/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /*Generic project styles*/
    font-family: "cabin", sans-serif;
    color: #EEEEEE;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

h1 {
    text-transform: uppercase;
}

h2,
h3 {
    margin: 0.5em auto;
    font-size: 110%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 180%;
}

div {
    border: 2px solid #EEEEEE;
    padding: 1em;
    border-radius: 1em;
    background-color: #00092C;
    margin: 2em;
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

p {
    text-align: justify;
    line-height: 27px;
}

li {
    line-height: 27px;
}

/* Header */
header {
    background-color: #FF5F00;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #FF5F00;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: "jura", sans-serif;
    list-style: none;
    letter-spacing: 1px;
}

#menu {
    list-style: none;
    letter-spacing: 1px;
    font-size: 110%;
}


#menu li {
    margin-bottom: 1em;
    background-color: #FF5F00;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    white-space: nowrap;
}

#menu a:hover {
    border-bottom: 1px solid #EEEEEE;
}

.active {
    border-bottom: 1px solid #EEEEEE;
}

#logo {
    line-height: 75px;
    margin: 0 0.3rem;
}

/*hide checkbox*/
#nav-toggle {
    display: none
}

/*Header*/
nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
}

#menu {
        display: flex;
   }

#menu>li {
        padding-left: 1rem;
 }

    
.nav-toggle-label {
        display: none;
    }


/* Main */
main {
    background-color: #B20600;
    margin-top: 95px;

    /*make main take up space to push footer down*/
    flex: 1 0 auto;
}

.rules {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
}

#genre-selector {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

/* Footer */
footer {
    background-color: #00092C;
    width: 100%;

}

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #EEEEEE;
}

#social-networks a:hover {
    color: #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}


/* Media Query*/
@media screen and (max-width:786px) {

    /*Dropdown menu*/
    nav {
        position: absolute;
        background-color: #FF5F00;
        left: 0;
        padding: 0 1rem;
        z-index: 99;
        width: 100%;
        box-shadow: 0 1px 1px #FF5F00;
        display: none;
        top: 100%;
    }
    
    /*Checkbox pseudoclass*/

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
    display: inline;
}


}


@media screen and (max-width:520px) {
    main {
        margin-top: 170px;
    }
    }

  
@media screen and (max-width:350px) {
    main {
        margin-top: 250px;
    }
    }